@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Montserrat:wght@300;400;500;600&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: Montserrat, arial, Helvetica, sans-serif;
  margin-bottom: 20px;
}

li{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: black;
  padding-left: 25px;
  font-size: 14px;
  font-weight: 600;
}

header img{
  width: 90px;
}

.container{
  border-bottom: 1px solid rgb(224, 224, 224);
  height: 60px;
  padding: 0 20px;
}

.navbar ul{
  display: flex;
}

.navbar a:hover{
  color: #ff764d;
}

.flex{
  display:flex ;
  justify-content: space-between;
  align-items: center;
}

.navbar-1{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar-2 a{
  font-size: 12px;
}

span{
  color: blue;
 
}

.navbar-3{
  margin: 20px 5px; 
}

.navbar-3 a{
  font-size: 12px;
}

/* Main */
.main{
position: relative;
}

.main img{
  height: 450px;
  width: 1050px;
  object-fit: cover;
  object-position: center;
  
}

.content{
  text-align: center;
}

.main h1{
 font-size: 100px;
 font-weight: 600;
 color: #ff764d;
 position: absolute;
 top:26%;
 left: 35%
}

.text-paragraph{
  margin: 100px 0;
  padding: 0 320px;
  text-align: left;
  line-height: 1.9;
  font-size: 14px;
}

.text-paragraph >*:first-child{
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 15px;
}

.text-paragraph p{
  margin-bottom: 15px;
}

/* Mid */
.mid{
  position: relative;
  margin: 100px 0;
  height: 1000px;
}

.yellow{
  position: absolute;
  background-color: #fbffa7;
  width: 800px;
  height: 700px;
  top: 0;
  right: 0;
}

.image1{
  position: absolute;
  top: 100px;
  left: 100px;
}

.image2{
  position: absolute;
  top: 12.5rem;
  right: 7.5rem;
}

.one{
  position: absolute;
  margin-top: 800px;
}

/* Video Section */
.video-section{
  text-align: center;
}

/* Headquarters */
.headquarter{
  position: relative; 
}

.green{
  background-color: #b6ffc0;
  height: 800px;
  width: 700px;
}

.left-top{
  position: absolute;
  width: 400px;
  top: 8%;
  left: 10%;
}

.left-bottom{
  position: absolute;
  width: 400px;
  bottom: 35%;
  left: 10%;
}

.right-center{
  position: absolute;
  height: 550px;
  top: 120px;
  right: 100px;
}

.fifth{
  text-align: center;
}

.fifth video{
  width: 1000px;
}

/* Employees */
.employees{
  position: relative;
  height: 1100px;
  margin: 100px 0;
}

.purple{
  background-color: #d5b3ff;
  height: 800px;
  width: 900px;
  position: absolute;
  top: 0;
  left: 15%;
}

.right-right{
  position: absolute;
  height: 550px;
  top: 120px;
  right: 0;
}

.left-center {
  position: absolute;
  width: 400px;
  top: 250px;
  left: 10%;
}

.last{
  margin: 0 100px;
}

.last img{
  width: 500px;
  height: 500px;
  object-fit: cover;
  object-position: right;
}

.grid{
 display: grid;
 grid-template-columns: 600px 400px;

 
}

.image-8{
  width: 300px;
}

.blue{
  background-color: #b1c5ff;
  height: 500px;
  width: 500px;
  padding: 150px 100px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.9;
  text-align: left;
}

.blue a{
  padding: 200px 0;
  font-size: 20px;
  font-weight: 700;  
}

/* Footer */

footer{
  margin-top: 100px;
  border-top: 1px solid rgb(224, 224, 224) ;
  padding: 30px 90px;
}

.grid-1{
  display: grid;
  grid-template-columns: 1fr 300px 500px;
  column-gap: 40px;
  row-gap: 70px;
}

footer h1{
  margin-top: 80px;
  margin-bottom: 50px;
  font-size: 50px;
}

footer h4,
footer p{
  margin-bottom: 10px;
  line-height: 1.6;
}

footer input{
  height: 40px;
  width: 350px;
  border: none;
  background-color: rgb(224, 224, 224);
  padding-left: 15px;
}

footer input::placeholder{
  font-size: 15px;
}

footer button{
  height: 40px;
  width: 120px;
  background-color: blue;
  color: white;
  border: none;
  font-size: 17px;
  font-weight: 700;
  margin-left: 0px;
  }

  .sign-up{
    display: flex;
    align-items: center;
  }

  footer a{
      padding: 0;
      font-size: 15px;
      font-weight: 300;
      display: block;
      margin-bottom: 15px;
  }

  footer img{
    width: 36px;
    margin-left: 4px;
  }

  .hallmark{
    display: flex;
    align-items: center;   
  }

  .hallmark p{
    font-size: 10px;
    margin-top: 10px;
    margin-right: 10px;
  }

  .bottom-line{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-top: 70px;
  }

  .bottom-line ul{
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .bottom-line li{
    margin-right: 10px;
  }

  .bottom-line a{
    font-size: 10px;
    font-weight: 700;
}



